/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; 
    color: #fff; 
    padding: 10px 20px;
    border-bottom: 0.1px solid rgb(176, 175, 175);
   
}
  
  .logo-container {
    display: flex;
    align-items: center;
    
  }
  
  .logo {
    width: 25vh; 
    height: auto;
    margin-right: 10px;
  }
  